html, body{
  margin: 0px;
  background-color: green;
}
h1{
  color: white;
}
body{
  width: 90%;
  margin: 0 auto;
}
.titulo{
  font-size: 2rem;
  text-align: center;
  background-color: black;
  color: white;
}

.carta{
  width: 150px;
  position: relative;
  left: 100px;
  margin-left: -75px;
}

#jugador-cartas, #pc-cartas{
  height: 230px;
}